var app = angular.module('app', ['nvd3']);

app.controller('ChartController', function($scope) {
    \$scope.options = {
        chart: {
            type: "line",
            width: $options.width,
            height: $options.height,
            useInteractiveGuideline: false,
            showLegend: $options.showLegend
            interactive : false,
            callback: function(chart) {
                console.log("rendered=1");
            }
        }
    };

});