
app.constant('content', {
  data: function() {
    var seriesList = [];
    #foreach($series in $seriesList)
      var content${foreach.count} = [];
      #set ($currentCount = $foreach.count )
      #foreach($value in $series.values)
        content${currentCount}.push({x: $value.x, y: $value.y});
      #end
      seriesList.push({values: content${foreach.count},key: '$series.key', color: '$series.color'});
    #end
    return seriesList;
  }
});