<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <link href="$nvd3css" rel="stylesheet">
    #if($useBootstrap == true)
        <link href="$bootstrap" rel="stylesheet">
    #end
    <script src="$es5shim"></script>
    <script src="$angularjs"></script>
    <script src="$d3"></script>
    <script src="$nvd3"></script>
    <script src="$angularNvd3"></script>
    <script id="appScript">
    </script>
</head>
<body ng-controller="ChartController">
</body>
</html>